global
    daemon
    log 127.0.0.1 local0
    log 127.0.0.1 local1 notice
    maxconn 4096
    tune.ssl.default-dh-param 2048

defaults
    log               global
    retries           3
    maxconn           2000
    timeout connect   5s
    timeout client    50s
    timeout server    50s
    mode http

frontend http
    bind *:80
    mode http
    reqadd X-Forwarded-Proto:\ http
    default_backend front1
    redirect scheme https code 301

frontend https
    bind *:443 ssl crt /haproxy.pem
    reqadd X-Forwarded-Proto:\ https
    default_backend front1

backend front1
    redirect scheme https if !{ ssl_fc }
    server srv1 front1:80
